.argentina:after { content: '🇦🇷'; }
.austria:after { content: '🇦🇹'; }
.belgium:after { content: '🇧🇪'; }
.croatia:after { content: '🇭🇷'; }
.czech-republic:after { content: '🇨🇿'; }
.denmark:after { content: '🇩🇰'; }
.estonia:after { content: '🇪🇪'; }
.finland:after { content: '🇫🇮'; }
.france:after { content: '🇫🇷'; }
.germany:after { content: '🇩🇪'; }
.greece:after { content: '🇬🇷'; }
.italy:after { content: '🇮🇹'; }
.ireland:after { content: '🇮🇪'; }
.japan:after { content: '🇯🇵'; }
.latvia:after { content: '🇱🇻'; }
.lithuania:after { content: '🇱🇹'; }
.luxembourg:after { content: '🇱🇺'; }
.malta:after { content: '🇲🇹'; }
.norway:after { content: '🇳🇴'; }
.poland:after { content: '🇵🇱'; }
.portugal:after { content: '🇵🇹'; }
.romania:after { content: '🇷🇴'; }
.russia:after { content: '🇷🇺'; }
.spain:after { content: '🇪🇸'; }
.slovakia:after { content: '🇸🇰'; }
.slovenia:after { content: '🇸🇮'; }
.south-korea:after { content: '🇰🇷'; }
.sweden:after { content: '🇸🇪'; }
.switzerland:after { content: '🇨🇭'; }
.netherlands:after { content: '🇳🇱'; }
.ukraine:after { content: '🇺🇦'; }
.uk:after { content: '🇬🇧'; }
.usa:after { content: '🇺🇸'; }
